doctype html
html(lang="no")
    include ./assets/sections/head.jade
    body
        .calendarwrap
            noscript
                span(style="color:red;width:498px;height:400px;background:lightgrey;") Activate JavaScript to use this calendar!
    
    
    
        script(src="assets/java/script.js", type="text/javascript")